


/* ------------------later------------------------------- */

#layer {
  display: block;
  position: fixed;
  width: 500px;
  height: 300px;
  border-radius: 30px;
  background: rgb(169, 212, 232);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 90999099999;
  font-size: 2.4em;
  padding: 2em;
  box-sizing: border-box;
  line-height: 2;
  top: 200px;
  left: 150px;
}

#layer button {
  position: absolute;
  cursor: pointer;
  padding: 20px 30px;
  right: 0;
  border-radius: 10px;
  bottom: 0;
  background-color: #222;
  color: #fff;
}


/* ------------------slide bar menu------------------------------- */

.side_bar_menu {
  position: fixed;
  z-index: 9999999999;
  top: 50%;
}

/* ------------------ header  ------------------------------- */
header {
  z-index: 999999;
}

header .header_top_hidden {
  display: none;
}

/* -------------header top------------- */

header .header_top {
  height: 70px;
  line-height: 70px;
}

.header_top .dep0 {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.header_top .dep0_1_1 {
  transition: height 0.5s;
  overflow: hidden;
  height: 0px;
  position: absolute;
  top: 48px;
  width: 80px;
  border: #acacac 0px solid;
  background: white;
  border-radius: 10px;
}

.dep0_1_1.on {
  height: 77px;
}

.dep0_1_1 .white {
  width: 80px;
  height: 30px;
  padding: 1px;
}
.dep0_1_1 .white a {
  color: #222222;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.35px;
}
.header_top .dep0 li a:hover {
  text-decoration: underline 1px rgb(255, 255, 255);
}
.header_top .dep0 li.search_bar {
  position: relative;
  flex-basis: 200px;
  height: 45px;
}
.header_top .dep0 li.search_bar::after {
  position: absolute;
  display: block;
  content: "";
  width: 90%;
  height: 1px;
  background: #ffffffc4;
  left: 0;
  bottom: 0;
}
.header_top .dep0 li input {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(214, 82, 82);
}

header .header_top .dep0 li input::placeholder {
  color: #d9dce2;
  font-size: 14px;
  font-weight: normal;
}

header .header_top .dep0 li span {
  display: block;
  position: absolute;
  top: 50%;
  right: 14%;
}

header .header_top .dep0 .dep0_2 a {
  font-size: 14px;
  padding-right: 26px;
  color: white;
  font-weight: 400;
}
header .header_top .dep0 .dep0_1 .global {
  font-size: 14px;
  padding-right: 26px;
  color: white;
  font-weight: 400;
}

header .header_top .dep0 li a span {
  position: absolute;
  right: 110px;
  top: 50%;
}


/* -------------header bottom------------- */




header .header_bottom {
  display: block;
  width: 100%;
  height: 64px;
  overflow: hidden;
}
header .header_bottom_wrap {
  height: 65px;
  width: 100%;
  background-color: transparent;
}
.dep1_0 {
  display: flex;
  justify-content: space-between;
}
.dep1_0 i,
h2 a {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  letter-spacing: -1.1px;
  vertical-align: center;
  color: white;
  padding-bottom: 65px;
}
header .header_bottom_2 {
  display: none;
  background-color: #ffffff;
}
header .header_bottom {
  display: block;
  height: 1000px;
  z-index: 999;
}

header .header_bottom .dep1 {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
header .header_bottom .dep1_1,
.dep1_2 {
  height: 403px;
}
header .header_bottom .dep1 .dep1_1 a img {
  margin-right: 130px;
  margin-top: 6px;
}

header .header_bottom .dep1 .dep1_1 .dep2 li img {
  margin-right: 47px;
  margin-top: 70px;
}

header .header_bottom .dep1 .dep1_2 {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 10px 10px 10px 18px;
}

header .header_bottom .dep1 .dep1_2 h2 a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: block;
  height: 70px;
}

header .header_bottom .dep1 .dep1_2 .dep2 li {
  width: 160px;
  text-align: left;
}

header .header_bottom .dep1 .dep1_2 .dep2 li a,
i {
  font-size: 17px;
  color: rgb(46, 46, 46);
  text-align: left;
  line-height: 2.2;
}
header .header_bottom .dep1 .dep1_2 .dep2 li a:hover {
  color: rgb(113, 113, 248);
}

section h2 {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 1000;
}

section h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 40px;
  color: gray;
}


/********************   brandVisual  ******************************************/


#brandVisual {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: #8c8c8c;
}

#brandVisual ul.visual0 {
  position: relative;
  width: 100%;
  height: 100vh;
}

#brandVisual ul.visual0 li {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 5em;
}

.visual_0 {
  left: 0%;
  background: url(../images/mainimage1.jpg) no-repeat;
  background-size: cover;
}

.visual_1 {
  left: 100%;
  background: url(../images/mainimage2.jpg) no-repeat;
  background-size: cover;
}

.visual_2 {
  left: 200%;
  background: url(../images/mainimage3.jpg) no-repeat;
  background-size: cover;
}
#buttonList li {
  width: 50px;
  height: 5px;
  margin: 0 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: white solid 1px;
}

#buttonList li.on {
  background: white;
}

.controls {
  position: absolute;
  top: 200px;
  left: 50px;
  border: 1px solid #333;
  display: flex;
}

.controls li {
  width: 16px;
  height: 22px;
  margin-left: 10px;
}

.controls li a {
  display: block;
  width: 16px;
  height: 22px;
}

.controls li.prev a {
  background: pink;
}

.controls li.next a {
  background: pink;
}

#brandVisual .w1280 {
  width: 100%;
  height: 100%;
}

/* headerbottom 안에 들어있음 주의 slogan, mainfunc, button */


.header_bottom .slogan {
  top: 30%;
  transform: translateY(-30%);
  z-index: 0;
}

.header_bottom #buttonList {
  display: flex;
  position: absolute;
  top: 43%;
  z-index: 99999;
}

.header_bottom .slogan > span {
  color: white;
  display: block;
  letter-spacing: -3px;
  text-shadow: 3px 4px 5px #757575;
}
.header_bottom .slogan .top {
  font-size: 30px;
}
.header_bottom .slogan .bottom {
  font-size: 44px;
  font-weight: 900;
}
.func .changeButton {
  display: flex;
  top: 48%;
  width: 236px;
  height: 45px;
  box-shadow: 6px 8px 10px rgb(0 0 0 / 5%);
  border-radius: 23px;
  position: absolute;
  border: 2px solid #ffffff;
  text-align: center;
}

.func .changeButton li a {
  display: block;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.34px;
  padding: 0 37px;
}
.func .changeButton li a.active1 {
  margin: -4px;
  border-radius: 23px;
  background-color: #6479eb;
  width: 63px;
  margin-left: -4px;
  height: 52px;
  line-height: 3.5;
}
.header_bottom .mainfunc1 {
  width: 100%;
  display: flex;
  top: 57%;
  z-index: 9000000000999;
}
.header_bottom .mainfunc2 {
  width: 100%;
  display: flex;
  top: 57%;
  z-index: 9000000000999;
}

.header_bottom .mainfunc1 li a {
  border: none;
  background-color: white;
  border-radius: 15px;
  width: 115px;
  height: 115px;
  margin: 7px;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgb(143, 143, 143);
  font-size: 14px;
  display: block;
  line-height: 1.2;
}
.header_bottom .mainfunc2 li a {
  border: none;
  background-color: white;
  border-radius: 15px;
  width: 115px;
  height: 115px;
  margin: 7px;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgb(143, 143, 143);
  font-size: 14px;
  display: block;
  line-height: 1.2;
}
.mainfunc1 li a i {
  font-size: 40px;
  padding: 15px;
  display: block;
  text-align: center;
}
.mainfunc2 li a i {
  font-size: 40px;
  padding: 15px;
  display: block;
  text-align: center;
}
.header_bottom .mainfunc1 li a:hover {
  color: blue;
  outline: #5266cf solid 2px;
  outline-offset: -2px;
  transform: scale(0.97);
}
.header_bottom .mainfunc2 li a:hover {
  color: blue;
  outline: #5266cf solid 2px;
  outline-offset: -2px;
  transform: scale(0.97);
}
.header_bottom .mainfunc1 li a:hover > i {
  color: #5266cf;
  transform: rotateY(360deg);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
.header_bottom .mainfunc2 li a:hover > i {
  color: #5266cf;
  transform: rotateY(360deg);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.header_bottom .mainfunc1 li a span {
  font-size: 14px;
  display: block;
  line-height: 1.2;
}
.header_bottom .mainfunc2 li a span {
  font-size: 14px;
  display: block;
  line-height: 1.2;
}