.sectionfooter {
  height: 260px !important;
}

.footer_inner1 {
  width: 100%;
  height: 60px;
  top: -260px;
  background: #313849;
}
.footer_inner1-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_inner1 .footul li:nth-child(3) > a {
  color: #b0b8e0;
}

.footer_inner2 {
  width: 100%;
  height: 200px;
  bottom: 0;
  background: #1e222a;
}

.footul {
  display: flex;
  margin-top: 0px;
  padding: 18px;
}
.footul li a {
  font-size: 15px;
  color: gray;
}
.footul li:hover {
  text-decoration: underline;
}

.footul li {
  padding: 0px 15px;
  border-right: 1px solid gray;
}

.footul1 {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 60px;
}

.footul2,
.footul3 {
  color: rgb(138, 138, 138);
  font-size: 15px;
}

.footul2 {
  position: absolute;
  right: 710px;
  line-height: 2.5;
}
.footul2 li:nth-child(2) {
  line-height: 1.5;
}

.footul3 {
  position: absolute;
  left: 650px;
}

.footul3 li:first-child {
  color: rgb(182, 182, 182);
  font-size: 15px;
  font-weight: bold;
}

.footul3 li a span {
  color: rgb(182, 182, 182);
  font-size: 22px;
  font-weight: 100;
}

.footul3:first-child {
  line-height: 2;
}
.footul3 li:nth-child(3) {
  line-height: 1.2;
}
.footul5 li {
  display: flex;
  padding: 5px;
}
.footul5 li img {
  width: 51px;
  height: 37px;
}
.float select {
  font-size: 15px;
  border: 1px solid #909095;
  background-color: #ffffff00;
  padding: 7px;
  color: #909095;
  font-weight: 500;
}

#third_slide {
  background-color: #ebf0f5;
}

#fourth_slide {
  background: url(../images/hiraservice_bg.png);
}

#fourth_slide {
  background-repeat: no-repeat;
}

.flex > ul > li {
  height: 50px;
  line-height: 50px;
}

.flex > h3 {
  height: 51px;
  line-height: 50px;
}

.footul4 {
  justify-content: flex-end;
  margin-bottom: 10px;
}
.footul4 li a i {
  color: #d7d8da;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  background-color: #383c45;
  margin-right: 8px;
}
.footul4 li:first-child > a i:hover {
  background-color: #1634db;
}
.footul4 li:nth-child(2) > a :hover {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.footul4 li:nth-child(3) > a :hover {
  background-color: red;
}
.footul4 li:nth-child(4) > a :hover {
  background-color: rgb(2, 243, 2);
}
#pageblur .dim {
  display: block;
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(204, 73, 73, 0.576) !important;
  opacity: 0.5;
}
