#fourth_slide{
  height: 100vh;
}
#fourth_slide .wrap {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(214, 214, 214);
  width: 1180px;
  height: 424px;
  padding: 50px 47px;
  margin-top: 15px;
  margin-bottom: 100px;
}

.flexbox1 {
  border: none;
  width: 414px;
  height: 200px;
  background-image: url(../images/intro_bg.png);
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

.jack1::before {
  position: absolute;
  top: 28px;
  right: 20px;
  content: "";
  background-image: url(../images/intro_bg2.png);
  width: 146px;
  height: 172px;
}

.jack1 p {
  padding: 40px 35px;
  font-size: 20px;
  color: rgb(8, 8, 99);
}

.jj {
  display: flex;
  padding: 0px 35px;
}
.jj :hover {
  border: 1px solid #5266cf;
  color: #5266cf;
}

.jj p {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 18px;
  width: 86px;
  height: 32px;
  background-color: white;
  line-height: 32px;
  font-size: 13px;
  color: gray;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

.flexbox2 {
  background-color: #eaeff7;
  border: none;
  width: 414px;
  height: 200px;
}

.flexbox {
  border: none;
  width: 410px;
  height: 100px;
}

.flex {
  border: none;
  width: 330px;
  height: 424px;
}

.flex h3 {
  color: rgb(61, 61, 165);
  font-size: 33px;
  font-weight: 900;
  margin-top: 20px;
  text-align: right;
}
.container_box{
  width: 400px;
  height: 424px;
}
.flex1 {
  border-right: 1px solid rgb(230, 230, 230);
  text-align: right;
}

.flex1 li a {
  margin-right: 20px;
  font-size: 16px;
  color: gray;
  padding: 10px 0px;
}
.flex1 li a:hover {
  color: #475e96;
}

.flex2 {
  display: flex;
  float: right;
}

.flex2 li a img {
  width: 55px;
  height: 32px;
}

.container2 {
  background-image: url(../images/business_bg.png);
  width: 400px;
  height: 424px;
}

.jack2 {
  display: flex;
  justify-content: space-evenly;
}

.jack2 li {
  border: 1px solid white;
  border-radius: 50px;
  background-color: white;
  width: 80px;
  height: 80px;
  line-height: 1;
  margin: 15px;
  margin-top: 35px;
}
.jack li a:hover {
  background-color: #5b88ff;
}
.jack2 li a i {
  font-size: 35px;
  margin: 25px 23px;
}
.jack2 li:hover {
  background-color: #1634db;
}
.jack2 li:hover > a i {
  color: white;
  transform: translateY(-6px);
  transition-duration: 0.35s;
}
.jack2 li a span {
  font-size: 14px;
  font-weight: 600;
  display: block;
  line-height: 1.2;
  margin-top: 10px;
  margin-left: 15px;
}

.jim1 {
  border: none;
  margin: 70px 40px;
}

.jim1 .jim1-1 {
  font-size: 30px;
  color: white;
  font-weight: 900;
  padding-bottom: 15px;
}
.jim1-1-1 {
  content: "";
  width: 50px;
  height: 0px;
  border: 1px solid #f1d0b8;
}
.jim1 .jim1-2 {
  font-size: 15px;
  color: white;
  padding: 25px 0px;
}
.jim1 .jim1-3 a {
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  border: none;
  border-radius: 30px;
  background-color: white;
  width: 111px;
  height: 32px;
  text-align: center;
  padding: 6px 25px;
}
.jim1-3 a:hover {
  color: white;
  background-color: #6479eb;
}