/* layer popup */
#layer {
  display: block;
  position: fixed;
  width: 500px;
  height: 300px;
  border-radius: 30px;
  background: rgb(169, 212, 232);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 90999099999;
  font-size: 2.4em;
  padding: 2em;
  box-sizing: border-box;
  line-height: 2;
  top: 200px;
  left: 150px;
}

#layer button {
  position: absolute;
  cursor: pointer;
  padding: 20px 30px;
  right: 0;
  border-radius: 10px;
  bottom: 0;
  background-color: #222;
  color: #fff;
}

/* -------------------------------------------------------------------------------------------- */

.w100 {
  max-width: 100%;
  width: 100%;
}

.w1280 {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

body a {
  width: 60%;
  font-size: 20px;
  line-height: 1.618;
  line-height: 1.75;
}

/* -------------------------------------------------------------------------------------------- */

.side_bar_menu {
  position: fixed;
  z-index: 9999999999;
  top: 50%;
}
header .header_top_hidden {
  display: none;
}

header {
  z-index: 999999;
}

header .header_top {
  height: 70px;
  line-height: 70px;
}

header .header_top .dep0 {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.dep0_1_1 {
  transition: height 0.5s;
  overflow: hidden;
  height: 0px;
  position: absolute;
  top: 48px;
  width: 80px;
  border: #acacac 0px solid;
  background: white;
  border-radius: 10px;
}

.dep0_1_1.on {
  height: 77px;
}
.dep0 header .header_top .dep0 .dep0_2 {
  padding: 0px;
  color: white;
  flex-basis: 100px;
}
.white {
  width: 80px;
  height: 30px;
  padding: 1px;
}
.white a {
  color: #222222;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.35px;
}
header .header_top .dep0 li a:hover {
  text-decoration: underline 1px rgb(255, 255, 255);
}
header .header_top .dep0 li.search_bar {
  position: relative;
  flex-basis: 200px;
  height: 45px;
}
header .header_top .dep0 li.search_bar::after {
  position: absolute;
  display: block;
  content: "";
  width: 90%;
  height: 1px;
  background: #ffffffc4;
  left: 0;
  bottom: 0;
}
header .header_top .dep0 li input {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(214, 82, 82);
}

header .header_top .dep0 li input::placeholder {
  color: #d9dce2;
  font-size: 14px;
  font-weight: normal;
}

header .header_top .dep0 li span {
  display: block;
  position: absolute;
  top: 50%;
  right: 14%;
}

header .header_top .dep0 .dep0_2 a {
  font-size: 14px;
  padding-right: 26px;
  color: white;
  font-weight: 400;
}
header .header_top .dep0 .dep0_1 .global {
  font-size: 14px;
  padding-right: 26px;
  color: white;
  font-weight: 400;
}

header .header_top .dep0 li a span {
  position: absolute;
  right: 110px;
  top: 50%;
}

header .header_bottom {
  display: block;
  width: 100%;
  height: 64px;
  overflow: hidden;
}
header .header_bottom_wrap {
  height: 65px;
  width: 100%;
  background-color: transparent;
}
.dep1_0 {
  display: flex;
  justify-content: space-between;
}
.dep1_0 i,
h2 a {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  letter-spacing: -1.1px;
  vertical-align: center;
  color: white;
  padding-bottom: 65px;
}
header .header_bottom_2 {
  display: none;
  background-color: #ffffff;
}
header .header_bottom {
  display: block;
  height: 1000px;
  z-index: 999;
}

header .header_bottom .dep1 {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
header .header_bottom .dep1_1,
.dep1_2 {
  height: 403px;
}
header .header_bottom .dep1 .dep1_1 a img {
  margin-right: 130px;
  margin-top: 6px;
}

header .header_bottom .dep1 .dep1_1 .dep2 li img {
  margin-right: 47px;
  margin-top: 70px;
}

header .header_bottom .dep1 .dep1_2 {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 10px 10px 10px 18px;
}

header .header_bottom .dep1 .dep1_2 h2 a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: block;
  height: 70px;
}

header .header_bottom .dep1 .dep1_2 .dep2 li {
  width: 160px;
  text-align: left;
}

header .header_bottom .dep1 .dep1_2 .dep2 li a,
i {
  font-size: 17px;
  color: rgb(46, 46, 46);
  text-align: left;
  line-height: 2.2;
}
header .header_bottom .dep1 .dep1_2 .dep2 li a:hover {
  color: rgb(113, 113, 248);
}

section h2 {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 1000;
}

section h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 40px;
  color: gray;
}

/********************   brandVisual  ******************************************/

#brandVisual {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: #8c8c8c;
}

#brandVisual ul.visual0 {
  position: relative;
  width: 100%;
  height: 100vh;
}

#brandVisual ul.visual0 li {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 5em;
}

.visual_0 {
  left: 0%;
  background: url(../images/mainimage1.jpg) no-repeat;
  background-size: cover;
}

.visual_1 {
  left: 100%;
  background: url(../images/mainimage2.jpg) no-repeat;
  background-size: cover;
}

.visual_2 {
  left: 200%;
  background: url(../images/mainimage3.jpg) no-repeat;
  background-size: cover;
}
#buttonList li {
  width: 50px;
  height: 5px;
  margin: 0 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: white solid 1px;
}

#buttonList li.on {
  background: white;
}

.controls {
  position: absolute;
  top: 200px;
  left: 50px;
  border: 1px solid #333;
  display: flex;
}

.controls li {
  width: 16px;
  height: 22px;
  margin-left: 10px;
}

.controls li a {
  display: block;
  width: 16px;
  height: 22px;
}

.controls li.prev a {
  background: pink;
}

.controls li.next a {
  background: pink;
}

#brandVisual .w1280 {
  width: 100%;
  height: 100%;
}
.header_bottom .slogan {
  top: 30%;
  transform: translateY(-30%);
  z-index: 0;
}

.header_bottom #buttonList {
  display: flex;
  position: absolute;
  top: 43%;
  z-index: 99999;
}

.header_bottom .slogan > span {
  color: white;
  display: block;
  letter-spacing: -3px;
  text-shadow: 3px 4px 5px #757575;
}
.header_bottom .slogan .top {
  font-size: 30px;
}
.header_bottom .slogan .bottom {
  font-size: 44px;
  font-weight: 900;
}
.func .changeButton {
  display: flex;
  top: 48%;
  width: 240px;
  height: 45px;
  box-shadow: 6px 8px 10px rgb(0 0 0 / 5%);
  border-radius: 23px;
  position: absolute;
  border: 2px solid #ffffff;
  text-align: center;
}

.func .changeButton li a {
  display: block;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -0.34px;
  padding: 0 37px;
}
.func .changeButton li a.active1 {
  margin: -4px;
  border-radius: 23px;
  background-color: #6479eb;
  width: 63px;
  margin-left: 1px;
  height: 57px;
}
.header_bottom .mainfunc1 {
  width: 100%;
  display: flex;
  top: 57%;
  z-index: 9000000000999;
}
.header_bottom .mainfunc2 {
  width: 100%;
  display: flex;
  top: 57%;
  z-index: 9000000000999;
}

.header_bottom .mainfunc1 li a {
  border: none;
  background-color: white;
  border-radius: 15px;
  width: 115px;
  height: 115px;
  margin: 7px;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgb(143, 143, 143);
  font-size: 14px;
  display: block;
  line-height: 1.2;
}
.header_bottom .mainfunc2 li a {
  border: none;
  background-color: white;
  border-radius: 15px;
  width: 115px;
  height: 115px;
  margin: 7px;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgb(143, 143, 143);
  font-size: 14px;
  display: block;
  line-height: 1.2;
}
.mainfunc1 li a i {
  font-size: 40px;
  padding: 15px;
  display: block;
  text-align: center;
}
.mainfunc2 li a i {
  font-size: 40px;
  padding: 15px;
  display: block;
  text-align: center;
}
.header_bottom .mainfunc1 li a:hover {
  color: blue;
  outline: #5266cf solid 2px;
  outline-offset: -2px;
  transform: scale(0.97);
}
.header_bottom .mainfunc2 li a:hover {
  color: blue;
  outline: #5266cf solid 2px;
  outline-offset: -2px;
  transform: scale(0.97);
}
.header_bottom .mainfunc1 li a:hover > i {
  color: #5266cf;
  transform: rotateY(360deg);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
.header_bottom .mainfunc2 li a:hover > i {
  color: #5266cf;
  transform: rotateY(360deg);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.header_bottom .mainfunc1 li a span {
  font-size: 14px;
  display: block;
  line-height: 1.2;
}
.header_bottom .mainfunc2 li a span {
  font-size: 14px;
  display: block;
  line-height: 1.2;
}

.menu1 {
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.menu1 li a {
  background-color: white;
  border: 1px solid rgb(187, 187, 187);
  width: 270px;
  height: 120px;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  padding: 24px;
  text-align: center;
}
.menu1 li a:hover {
  color: white;
  background-color: #5266cf;
  transition-timing-function: ease;
  transition-duration: 0.25s;
}
.menu1 li a:hover > i {
  color: white;
  transform: translateY(-7px);
  transition-duration: 0.4s;
}
.menu1 li a i {
  display: block;
  text-align: center;
  font-size: 65px;
  padding-bottom: 15px;
}
.menu2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 100px;
}
.menu1 li a :visited {
  color: white;
  background-color: #5266cf;
}
.menu2_wrap > div {
  display: flex;
}
.menu2 li {
  background-color: white;
  border: 0.1px solid rgb(187, 187, 187);
  width: 310px;
  height: 350px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}

.menu2 li img {
  width: 340px;
  height: 250px;
}

.menu2 li a {
  font-size: 10px;
  color: gray;
}

.p1 {
  font-size: 17px;
}

.p2 {
  font-size: 13px;
}
#second_slide {
  margin-bottom: 500px;
}
.wrap_card {
  top: 200px;
  border: 0.1px solid#d5d8d9;
  background-color: white;
  overflow: hidden;
}

.wrap_card:hover {
  border: 0.1px solid #5b88ff;
  box-shadow: 10px 10px 10px #545860;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.wrap_card:hover > .card {
  overflow: hidden;
}
.wrap_card:hover > .card img {
  transform: scale(1.1);
  transition-duration: 0.2s;
  overflow: hidden;
  max-height: 300px;
}
.p {
  padding: 20px;
  display: flex;
}
.p1 {
  color: #5c6f92;
  background-color: #e8f0fe;
  padding: 5px;
  font-size: 12px;
}

.p0 {
  padding: 0 20px 20px 20px;
}

.p2 {
  font-size: 20px;
  font-weight: 600;
}

.p3 {
  font-size: 16px;
  color: #777;
  line-height: 22px;
  letter-spacing: -0.54px;
}

.wrap_card .card img {
  width: 290px;
  height: 250px;
}

.wrap0 .wrap1 {
  margin-right: 20px;
  padding: 30px;
  background-color: white;
}

.wrap1 {
  width: 62%;
  height: 240px;
  border: 0px solid rgb(255, 255, 255);
}

.info1 .info1-1 {
  display: flex;
}

.info1-1 {
  font-size: 22px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.info1-1 li {
  padding: 0px 15px;
  color: gray;
}
.info1-1 li a {
  padding: 0px 15px;
  color: gray;
}
.info1-1 li a:hover {
  color: #475e96;
}
.info1-1 li a:visited {
  color: black;
  font-weight: 900;
}
.info2 {
  width: 780px;
  height: 180px;
  padding: 20px 6px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 3;
}
.info22 {
  display: none;
}
.info2 .category-notice01 {
  width: 70px;
  height: 28px;
  line-height: 28px;
  background-color: #f0eef8;
  color: #5f4c9e;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.63px;
  padding: 0 10px;
  border-radius: 10px;
}
.info2 .category-notice02 {
  width: 70px;
  height: 28px;
  line-height: 28px;
  background-color: #ecfafb;
  color: #3d8d9a;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.63px;
  padding: 0 10px;
  border-radius: 10px;
}
.info2 .category-notice03 {
  width: 70px;
  height: 28px;
  line-height: 28px;
  background-color: #fff6d7;
  color: #96651f;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.63px;
  padding: 0 10px;
  border-radius: 10px;
}
.info2 .category-notice04 {
  width: 70px;
  height: 28px;
  line-height: 28px;
  background-color: #e8f0fe;
  color: #5c6f92;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.63px;
  padding: 0 10px;
  border-radius: 10px;
}

.info2-1 .date {
  float: right;
  margin-left: 100px;
}
.info2-1 .date1 {
  float: right;
  margin-left: 91px;
}
.info2-1 .date2 {
  float: right;
  margin-left: 141px;
}
.info2-1 .date3 {
  float: right;
  margin-left: 201px;
}
.info2-1 .date4 {
  float: right;
  margin-left: 95px;
}

.info2-2 .activate {
  display: block;
}
.info2-2 {
  width: 70px;
  height: 28px;
  line-height: 28px;
  background-color: #ecfafb;
  color: #3d8d9a;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.63px;
  padding: 0 10px;
  border-radius: 10px;
}
.info2-2 li a:hover {
  text-decoration: underline;
}
.info2-2 li a {
  color: #333;
  line-height: 40px;
  font-weight: 400;
  font-size: 16px;
}

.info2-3 li {
  color: rgb(173, 173, 173);
}

.wrap2 {
  left: 68%;
  top: 0;
  width: 32%;
  height: 300px;
  border: none;
  background-color: white;
}

.info2 {
  display: flex;
}

.info3-1 {
  display: flex;
  padding: 20px;
}

.info3-1-1 {
  font-size: 22px;
  font-weight: 800;
  margin-right: 130px;
}

.info3-1-2 {
  font-size: 18px;
  font-weight: 400;
}

.info3-1-3 {
  margin-left: 25px;
}
.info3-1-3 a {
}
.info3-1-3 a i:hover {
  background-color: rgb(179, 179, 179);
  color: white;
}
.info3-1-3 i {
  display: inline-block;
  font-size: 16px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 18px;
  width: 30px;
  height: 30px;
  line-height: 2;
  text-align: center;
}

.info3-1-3 a img {
  border: 1px solid rgb(218, 217, 217);
  border-radius: 18px;
  width: 14px;
  height: 14px;
  padding: 7px;
}
#card3 {
  position: relative;
  overflow: hidden;
}
#card3-1 {
  display: flex;
}
#card3 #card3-1 li a img {
  width: 410px;
  height: 220px;
}

.wrap3 {
  width: 100%;
  height: 400px;
  border: none;
  margin-top: 20px;
  background-color: white;
}

.mainul {
  display: flex;
  padding: 30px 14px 30px 30px;
}

.mainul a img {
  width: 220px;
  height: 160px;
}

.wrap3-1-1 {
  font-size: 22px;
  font-weight: 800;
}

.wrap3-1-2 {
  font-size: 14px;
  font-weight: 400;
  color: gray;
  margin: 10px 0px;
}

.wrap3-1-3 li {
  width: 190px;
  border-bottom: 3px solid rgb(168, 168, 168);
  padding: 10px 0px;
}
.wrap3-1-3 li a {
  color: #8f8f8f;
}
.wrap3-1-3 li a:hover {
  color: #333;
}

.wrap3-1-3 li a i {
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  background-color: gray;
  margin-right: 8px;
}
.wrap3-1-3 li:nth-child(4) {
  border-bottom: none;
}

.wrap3-1-3 li a {
  font-size: 16px;
  color: #8f8f8f;
}
.wrap3-1-3-1 a:hover > i {
  background-color: red;
}
.wrap3-1-3-2 a:hover > i {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.wrap3-1-3-3 a:hover > i {
  background-color: rgb(89, 38, 255);
}
.wrap3-1-3-4 a:hover > i {
  background-color: rgb(0, 255, 55);
}
.wrap3-2 {
  padding: 0px 40px;
  margin-top: 10px;
}
.wrap3-2 ul {
  padding: 0px 15px;
}
.wrap3-2 ul:hover > li p {
  text-decoration: underline;
}
.wrap3-0 ul > li > img {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(218, 217, 217);
  border-radius: 100%;
  padding: 4px;
  margin-right: 5px;
}
.wrap3-0 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
}
.wrap3-0-1 {
  margin-right: 50px;
}
.wrap3-0-1 a {
  display: inline-block;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 18px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.wrap3-0-1 a:hover {
  background-color: rgb(179, 179, 179);
  color: white;
}
.wrap3-2 ul li h5 {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 3;
  color: gray;
}
.wrap3-2 ul li p {
  font-size: 15px;
  line-height: 1.5;
  color: rgb(71, 71, 71);
}
.wrap3-2 ul li h5 img {
  width: 20px;
  height: 20px;
  color: gray;
}
#fourth_slide .wrap {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(214, 214, 214);
  width: 1180px;
  height: 424px;
  padding: 50px 47px;
  margin-top: 15px;
  margin-bottom: 100px;
}

.flexbox1 {
  border: none;
  width: 414px;
  height: 200px;
  background-image: url(../images/intro_bg.png);
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

.jack1::before {
  position: absolute;
  top: 28px;
  right: 20px;
  content: "";
  background-image: url(../images/intro_bg2.png);
  width: 146px;
  height: 172px;
}

.jack1 p {
  padding: 40px 35px;
  font-size: 20px;
  color: rgb(8, 8, 99);
}

.jj {
  display: flex;
  padding: 0px 35px;
}
.jj :hover {
  border: 1px solid #5266cf;
  color: #5266cf;
}

.jj p {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 18px;
  width: 86px;
  height: 32px;
  background-color: white;
  line-height: 32px;
  font-size: 13px;
  color: gray;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

.flexbox2 {
  background-color: #eaeff7;
  border: none;
  width: 414px;
  height: 200px;
}

.flexbox {
  border: none;
  width: 410px;
  height: 100px;
}

.flex {
  border: none;
  width: 330px;
  height: 424px;
}

.flex h3 {
  color: rgb(61, 61, 165);
  font-size: 33px;
  font-weight: 900;
  margin-top: 20px;
  text-align: right;
}

.flex1 {
  border-right: 1px solid rgb(230, 230, 230);
  text-align: right;
}

.flex1 li a {
  margin-right: 20px;
  font-size: 16px;
  color: gray;
  padding: 10px 0px;
}
.flex1 li a:hover {
  color: #475e96;
}

.flex2 {
  display: flex;
  float: right;
}

.flex2 li a img {
  width: 55px;
  height: 32px;
}

.container2 {
  background-image: url(../images/business_bg.png);
  width: 400px;
  height: 424px;
}

.jack2 {
  display: flex;
  justify-content: space-evenly;
}

.jack2 li {
  border: 1px solid white;
  border-radius: 50px;
  background-color: white;
  width: 80px;
  height: 80px;
  line-height: 1;
  margin: 15px;
  margin-top: 35px;
}
.jack li a:hover {
  background-color: #5b88ff;
}
.jack2 li a i {
  font-size: 35px;
  margin: 25px 23px;
}
.jack2 li:hover {
  background-color: #1634db;
}
.jack2 li:hover > a i {
  color: white;
  transform: translateY(-6px);
  transition-duration: 0.35s;
}
.jack2 li a span {
  font-size: 14px;
  font-weight: 600;
  display: block;
  line-height: 1.2;
  margin-top: 10px;
  margin-left: 15px;
}

.jim1 {
  border: none;
  margin: 70px 40px;
}

.jim1 .jim1-1 {
  font-size: 30px;
  color: white;
  font-weight: 900;
  padding-bottom: 15px;
}
.jim1-1-1 {
  content: "";
  width: 50px;
  height: 0px;
  border: 1px solid #f1d0b8;
}
.jim1 .jim1-2 {
  font-size: 15px;
  color: white;
  padding: 25px 0px;
}
.jim1 .jim1-3 a {
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  border: none;
  border-radius: 30px;
  background-color: white;
  width: 111px;
  height: 32px;
  text-align: center;
  padding: 6px 25px;
}
.jim1-3 a:hover {
  color: white;
  background-color: #6479eb;
}
.footer_inner1 {
  width: 100%;
  height: 60px;
  top: -260px;
  background: #313849;
}
.footer_inner1-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_inner1 .footul li:nth-child(3) > a {
  color: #b0b8e0;
}

.footer_inner2 {
  width: 100%;
  height: 200px;
  bottom: 0;
  background: #1e222a;
}

.footul {
  display: flex;
  margin-top: 0px;
  padding: 18px;
}
.footul li a {
  font-size: 15px;
  color: gray;
}
.footul li:hover {
  text-decoration: underline;
}

.footul li {
  padding: 0px 15px;
  border-right: 1px solid gray;
}

.footul1 {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 60px;
}

.footul2,
.footul3 {
  color: rgb(138, 138, 138);
  font-size: 15px;
}

.footul2 {
  position: absolute;
  right: 710px;
  line-height: 2.5;
}
.footul2 li:nth-child(2) {
  line-height: 1.5;
}

.footul3 {
  position: absolute;
  left: 650px;
}

.footul3 li:first-child {
  color: rgb(182, 182, 182);
  font-size: 15px;
  font-weight: bold;
}

.footul3 li a span {
  color: rgb(182, 182, 182);
  font-size: 22px;
  font-weight: 100;
}

.footul3:first-child {
  line-height: 2;
}
.footul3 li:nth-child(3) {
  line-height: 1.2;
}
.footul5 li {
  display: flex;
  padding: 5px;
}
.footul5 li img {
  width: 51px;
  height: 37px;
}
.float select {
  font-size: 15px;
  border: 1px solid #909095;
  background-color: #ffffff00;
  padding: 7px;
  color: #909095;
  font-weight: 500;
}

#third_slide {
  background-color: #ebf0f5;
}

#fourth_slide {
  background: url(../images/hiraservice_bg.png);
}

#fourth_slide {
  background-repeat: no-repeat;
}

.flex > ul > li {
  height: 50px;
  line-height: 50px;
}

.flex > h3 {
  height: 51px;
  line-height: 50px;
}

.footul4 {
  justify-content: flex-end;
  margin-bottom: 10px;
}
.footul4 li a i {
  color: #d7d8da;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  background-color: #383c45;
  margin-right: 8px;
}
.footul4 li:first-child > a i:hover {
  background-color: #1634db;
}
.footul4 li:nth-child(2) > a :hover {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.footul4 li:nth-child(3) > a :hover {
  background-color: red;
}
.footul4 li:nth-child(4) > a :hover {
  background-color: rgb(2, 243, 2);
}
#pageblur .dim {
  display: block;
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(204, 73, 73, 0.576) !important;
  opacity: 0.5;
}
