#second_slide{
  height: 100vh;
}
.menu1 {
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.menu1 li a {
  background-color: white;
  border: 1px solid rgb(187, 187, 187);
  width: 270px;
  height: 120px;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  padding: 24px;
  text-align: center;
}
.menu1 li a:hover {
  color: white;
  background-color: #5266cf;
  transition-timing-function: ease;
  transition-duration: 0.25s;
}
.menu1 li a:hover > i {
  color: white;
  transform: translateY(-7px);
  transition-duration: 0.4s;
}
.menu1 li .active{
  color: white;
  background-color: #5266cf;
}
.menu1 li a i {
  display: block;
  text-align: center;
  font-size: 65px;
  padding-bottom: 15px;
}
.menu2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 100px;
}
.menu1 li a :visited {
  color: white;
  background-color: #5266cf;
}
.menu2_wrap > div {
  display: flex;
}
.menu2 li {
  background-color: white;
  border: 0.1px solid rgb(187, 187, 187);
  width: 310px;
  height: 350px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}

.menu2 li img {
  width: 340px;
  height: 250px;
}

.menu2 li a {
  font-size: 10px;
  color: gray;
}

.p1 {
  font-size: 17px;
}

.p2 {
  font-size: 13px;
}
#second_slide {
  margin-bottom: 500px;
}
.wrap_card {
  top: 200px;
  border: 0.1px solid#d5d8d9;
  background-color: white;
  overflow: hidden;
}

.wrap_card:hover {
  border: 0.1px solid #5b88ff;
  box-shadow: 6px 7px 19px 4px #acafb3;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.wrap_card:hover > .card {
  overflow: hidden;
}
.wrap_card:hover > .card img {
  transform: scale(1.1);
  transition-duration: 0.2s;
  overflow: hidden;
  max-height: 300px;
}
.p {
  padding: 20px;
  display: flex;
}
.p1 {
  color: #5c6f92;
  background-color: #e8f0fe;
  padding: 5px;
  font-size: 12px;
}

.p0 {
  padding: 0 20px 20px 20px;
}

.p2 {
  font-size: 20px;
  font-weight: 600;
}

.p3 {
  font-size: 16px;
  color: #777;
  line-height: 22px;
  letter-spacing: -0.54px;
}

.wrap_card .card img {
  width: 290px;
  height: 250px;
}
#wrap3-2, #wrap3-3{
  display: none;
}
.wrap3-0 .activation{
  display: flex;
}
#wrap3-2 >ul>li>h5>i{
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 100%;
  background-color: gray;
  margin-right: 8px;
}
#wrap3-3 >ul>li>h5>i{
  background-color: #3685ea;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 100%;
  background-color: gray;
  margin-right: 8px;
}
.wrap3-0>ul >li {
  padding : 0px 15px;
}